<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container text-center" style="margin-top: 50px">
      <h1 class="text-danger">Oops!</h1>
      <h2 class="text-danger">Something Went Wrong</h2>
      <p class="lead">{{ message }}</p>
      <a href="/" class="btn btn-primary">Go Back Home</a>
    </div>
  </body>
</html>
