<!DOCTYPE html>
<html>
  <head>
    <title>Extracted Keywords</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h2>Extracted Keywords</h2>
      {% for file, keywords in keywords.items() %}
      <h3>{{ file }}</h3>
      <ul>
        {% for keyword in keywords %}
        <li>{{ keyword }}</li>
        {% endfor %}
      </ul>
      {% endfor %}

      <h2>Related Files</h2>
      {% for file, related in related_files.items() %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>{{ file }}</strong> is related to:
        </div>
        <div class="panel-body">
          <ul>
            {% for rfile in related %}
            <li>{{ rfile }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}

      <a href="{{ url_for('index') }}" class="btn btn-primary">Upload Another</a>
      <!-- New button to redirect to clusters page -->
      <a href="http://127.0.0.1:5000/clusters" class="btn btn-success">Go to Clusters</a>
    </div>
  </body>
</html>
